.btn1 {
    display: block;

    padding: 10px 0;
    
    width: 260px;
    height: 20px;

    border: solid white;
    border-radius: 10px;
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    
    transition: all 0.4s;
}

.btn1::before {
    content: 'Learn More';
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.4s;
    transform: translate(-50%, -50%);
}

.btn1::after {
    content: 'With me';
    position: absolute;
    left: 50%;
    top: calc(100% + 20px);
    transition: all 0.4s;
    transform: translate(-50%, -50%);
}

.btn1:hover:before {
    top: -20px;
}

.btn1:hover:after {
    top: 50%;
}

.btn1:hover {
    width: 220px;
}