@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

body {
    font-family:"Ubuntu", sans-serif;
    background: url(assets/bg.jpg) no-repeat scroll center center / cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
}

#nav {
    margin: 0 15px;
}

#nav ul {
    float: right;
    font-size: 0;
}

#nav li {
    display: inline-block;
    font-size: 25px;
    padding: 23px 15px;
}

#nav a {
    color: #3DCC71;
    text-decoration: none;
}

#nav a:hover {
    opacity: 0.75;
    transition: 0.2s;
}

.active {
    opacity: 0.5;
}

#nav h1 {
    font-size: 30px;
    font-weight: bold;
    color: #3DCC71;
    padding: 20px 15px;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title h1, #title h2 {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    color: white;
}

#title p {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.button {
    width: 360px;
    height: 50px;
    
    background-color: #3DCC71;
    color: #fff;
    font-size: 30px;
    
    margin: 30px 0;
    padding: 10px 0;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    
    overflow: hidden;        
    cursor: pointer;
}

.button:after, .button:before {
  content: 'Learn More';
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.4s;
  transform: translate(-50%, -50%);
}

.button:hover:after {
  top: -50%;
}

.button:before {
  font-family: 'Ionicons';
  content: '\f123';
  font-size: 40px;
  top: 190%;
}

.button:hover:before {
  top: 50%;
}